# Environment files
.env

# Python cache files
__pycache__/
*.py[cod]

# Database files
db.sqlite3

# Static and media files
staticfiles/
static/images/

# Django compiled files
*.mo
*.pot

# Virtual environments
venv/
env/

# VS Code editor files
.vscode/

# Log files
*.log

# macOS system files
.DS_Store

# JetBrains IDEs
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Test coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Diagrams (generated images)
*.png
*.dot

# PyInstaller
*.manifest
*.spec

# Django local settings
local_settings.py

# Python build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.temp
